.advantages{
  &__item{    
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: $media-tablet) {
  .advantages{
    &__list{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
    &__item{
      margin-bottom: 30px;
      margin-right: 15px;
      margin-left: 15px;
      width: calc(100% / 2 - 30px);
      &:last-child,
      &:nth-last-child(2){
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: $media-descktop) {
  .advantages{
    &__list{
      justify-content: flex-start;
    }
    &__item{
      width: calc(100% / 4 - 30px);
    }
  }
}