.header {
  &__contact {
    display: none;
  }
  &__navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__contact {
      display: block;
    }
    &__navigation {
      display: block;
    }
  }
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .header {
//   border-bottom: 1px solid var(--header-border);
//   &__container {
//     display: flex;
//     align-items: center;
//   }
//   &__navigation {
//     margin-left: 93px;
//   }
// }
