.header {
  &__contact {
    display: none;
  }
  &__navigation {
    display: none;
  }
  &__container{
    height: 60px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $media-tablet) {
  .header {
    border-bottom: 1px solid var(--header-border);
    &__container{
      height: auto;
    }
    &__contact {
      display: flex;
    }
    &__navigation {
      display: block;
      margin-left: 88px;
    }
  }
}


@media screen and (min-width: $media-descktop) {
  .header{
    &__navigation {
      margin-left: 93px;
    }
  }
}