.advantages-item{
  &__text{
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--base-color);
    text-transform: uppercase;
    margin-bottom: 10px; 
    text-align: center;
  }
  &__description{
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray-color);
    letter-spacing: 0.03em;
  }
  &__content {
    height: 120px;
    background-color: var(--white-100-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $media-tablet) {
  .advantages-item{
    &__text{
      text-align: left;
    }
  }
}



