.advantages {
  padding-bottom: 47px;

  &__list {
    display: flex;
    margin: 0 -15px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    width: 270px;
    margin: 0 15px;
  }
  &-item {
    &__text {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      color: var(--base-color);
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 10px;
    }
    &__description {
      font-size: 14px;
      line-height: 1.71;
      color: var(--gray-color);
      margin: 0;
      letter-spacing: 0.03em;
    }
    &__icon {
    }
    &__content {
      height: 120px;
      background-color: var(--white-100-color);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}
