.advantages-item {
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--base-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__description {
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray-color);
    letter-spacing: 0.03em;
  }
  &__content {
    height: 120px;
    background-color: var(--white-100-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
