.checkbox {
  display: flex;
  justify-content: center;
  &__label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--gray-color);
    position: relative;
    user-select: none;
    display: flex;
    &::before {
      content: "";
      width: 16px;
      height: 15px;
      cursor: pointer;
      display: block;
      margin-right: 8px;
      border: 2px solid var(--base-color);
      border-radius: 2px;
      box-sizing: border-box;
      outline: var(--accent-color);
      margin-top: -1px;
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__input:checked + &__label::before {
    background-image: url(../images/icon-check.svg);
    border: none;
  }
  &__input:focus + &__label::before {
    border-color: var(--accent-color);
  }
  &__link {
    color: var(--accent-color);
    text-decoration-line: underline;
  }
}
@media screen and (min-width: $media-descktop) {
  .checkbox {
    &__label {
      font-size: 14px;
      line-height: 1.71;
      display: flex;
      align-items: center;
    }
  }
}